target/
rustitles_log.txt
rustitles_settings.json
src/subdivx-dl.exe
AppDir
appimagetool-x86_64.AppImage
linuxdeploy-x86_64.AppImage
AppImageTool
buildForLinux.sh
*.DS_Store
.DS_Store


#Ignore windsurf AI rules
.windsurfrules
